.board-detail {
    margin: 7%;
}

.board-detail > * {
    margin-bottom: 20px;
}

.board-title {
    font-size: 30px;
    font-weight: 800;
}

.detail-line-one {
    display: flex;
}

.detail-line-one > * {
    margin-right: 12px;
    height: 20px;
}

.detail-line-three > * {
    height: 20px;
}

.detail-line-three {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}

.detail-line-three img {
    height: 20px;
    margin-right: 10px;
}


.detail-line-three > div {
    display: flex;
    align-items: center;
}

.detail-line-three .detail-btns {
    margin-right: 0;
}

.like-btn {
    background-color: white;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 5px;
    color: rgb(255, 145, 148);
}

.detail-btns-btn {
    margin-left: 20px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(104,225,223);
    border: 1px solid rgb(104,225,223);
    border-radius: 5px;
    color: white;
}

.detail-btns-btn:hover {
    background-color: rgb(255, 145, 148);
    border: 1px solid rgb(255, 145, 148);
}

.comments {
    margin-top: 20px;
}

.comments div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-add {
    border-radius: 5px;
    padding: 6px;
    width: 75%;
}

.comment-add-form {
    margin-top: 20px;
    margin-bottom: 30px;
}

.detail-line-four form {
    display: flex;
    justify-content: space-between;
  }

  .comment-item {
    display: flex;
    align-items: center;
  }
  
  .comment-item-one,
  .comment-item-two,
  .comment-item-three {
    display: flex;
    align-items: center;
  }

  .comment-item-one {
    width: 10vw;
  }
  
  .comment-item-two {
    margin-left: 10px;
  }
  
  .comment-item-three {
    margin-left: auto;
  }

  .comment-item-three button {
    margin-left: 10px;
  }
  
  .comment-item-three button:hover {
    background-color: rgb(162, 162, 162, 0.5);
  }
