.find-page {
    display: flex;
    min-height: 100vh;
}

.stadium-section,
.find-section {
    flex: 1;
}

.find-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.find-section form {
    width: 70%;
    height: auto; /* 줄어드는 비율에 맞추어 높이도 유지하려면 auto로 설정하세요 */
    max-height: 100%;
    margin-bottom: 1rem; /* 로고 하단 여백 추가 */
  }

.find-section {
    width: 100%;
    height: auto; /* 이미지 원본 비율 유지 */
}

.navy-letter {
    color: rgb(49, 97, 121);
    text-align: center;
}