.login-page {
    display: flex;
    min-height: 100vh;
    }
    
.letter div{
    color: rgb(49, 97, 121);
    font-size: 20px;
    font-weight: bold;
}

.stadium-section,
.login-section {
flex: 1;
}

.stadium-section {
position: relative;
}

.stadium-section img {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
object-fit: cover;
width: 100%;
height: 100%;
}

.login-section {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 2rem;
}

.login-section form {
width: 70%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.inputbox{
width: 100%;
}  

/* 라벨 : 이메일, 비밀번호 */
.inputbox input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(49, 97, 121);
    border-radius: 3px;
}

.loginbtn {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: rgb(49, 97, 121);
    color: white;
    border: 1px solid rgb(49, 97, 121);
    border-radius: 3px;
    margin-top: 10px;
} 
    
.loginbtn:hover {
    background-color: rgb(245, 100, 105);
    border: 1px solid rgb(245, 100, 105);
    color: white;
}

.snslogin div{
display: flex;
justify-content: center;
margin-bottom: 25px;
}

.snslogos, .links {
display: flex;
}

.snslogin div{
    color: rgb(49, 97, 121);
}

.snslogos img{
margin-right: 30px;
width: 50px;
}

.links div {
margin-right: 10px;
color: gray;
}

.links div a {
    color: gray;
    text-decoration: none;
}