.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .nav-item-left,
  .nav-item-right {
    display: inline-flex;
    align-items: center;
  }
  
  img {
    display: block;
    width: auto;
    height: 40px;
    cursor: pointer;
  }

  img:hover {
    color: rgba(104, 225, 223, 0.6);
  }
  