.board-page {
    width: 90%;
    margin: 0 auto;
}

.community-nav {
    display: flex;
}

.board-category {
    display: flex;
  }
  
.board-search-box {
    margin-left: auto;
    padding: 5px;
}

.board-search-box input {
    height: 100%;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid rgb(161, 160, 160);
}

.radius-button-selected {
    background-color: rgb(245, 100, 105);
    border: 1px solid rgb(245, 100, 105);
    color: white;
}