.App {
  text-align: center;
}
.container {
  padding: 0 100px; 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.login-link {
  position: absolute;
  top: 0;
  right: 0;
}

.App-link {
  color: #61dafb;
}
.container {
  height: 100vh;
  overflow: auto;
}

.upcoming {
  margin: 10px;
  margin-top: 40px;
  font-family: five;
  font-size: 30px;
  color:gray;
}

.upcoming > div {
  margin-bottom: 10px;
}

.upcoming-one {
  display: flex;
  align-items: center;
  color:rgb(104,225,223);
}

.upcoming-arrow {
  margin-left: 10px;
  font-weight: 800;
}

.upcoming-arrow:hover {
  color: rgb(245, 100, 105);
  transform: translate(3px, 3px);
}


.foot {
  background-color: #e2e2e2;
  display: flex;
  padding: 10vh;
  margin-top: 40px;
  margin-bottom: 40px;
}

.foot-one {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-one img {
  display: block;
  margin: auto;
}

.foot-two {
  width: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-items {
  justify-content: flex-end;
  top: 100px; /* 로고 아래로 조금 내림. 필요에 따라 조절하세요. */
  right: 20px; /* 오른쪽 끝에 위치하도록 설정 */
  display: flex;
  flex-direction: row; /* 버튼이 수평으로 나열되도록 설정 */
  gap: 20px; /* 버튼 사이의 간격 */
}

.nav-items button {
  background: none; /* 배경 없음 */
  border: none; /* 테두리 없음 */
  color: gray; /* 글자색 회색 */
  cursor: pointer; /* 마우스 포인터를 클릭 가능한 상태로 변경 */
  text-decoration: none;
  margin-top: 10px;
  margin-left: 15px;
}

/* 마우스 오버 시 상태 변경 */
.nav-items button:hover {
  color: darkgray; /* 글자색 어두운 회색 */
}

.nav-seul-btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-seul-btns > div {
  margin-left: 10px;
}
