.find-page {
    display: flex;
    min-height: 100vh;
}

.stadium-section,
.find-section {
    flex: 1;
}

.find-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.find-section form {
    width: 70%;
    height: auto; 
    max-height: 100%;
    margin-bottom: 1rem; 
  }

.find-section {
    width: 100%;
    height: auto; 
}

.navy-letter {
    color: rgb(155, 155, 155);
    text-align: center;
}