/* Add some styling for form elements */

.ball-modal form {
    display: flex;
    flex-direction: column;
}

.ball-modal form label {
    margin-bottom: 10px;
}

.ball-modal form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
